<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <div class="logo">
        <img src="./assets/logo.png" alt="Restaurant Logo" />
        <h1 class="text">Welcome to SmartMeal!</h1>
      <p class="text">Smart Choices, Delicious Meals</p>
      </div>
      <form>
        <div class="input-group">
              <input type="text"  placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username" class="form-control" required>
        </div>  
        <div class="inputgroup" style="display: flex; align-items: center; position: relative;">
          <input matInput 
          [type]="showPassword ? 'password' : 'text'" 
          placeholder="Password" 
          [(ngModel)]="password" 
          [ngModelOptions]="{standalone: true}" 
          id="password" 
          class="form-control" 
          style="padding-right: 40px;"
          required />
          <mat-icon 
              matSuffix 
              (click)="togglePasswordVisibility()" 
              style="position: absolute; right: 10px; cursor: pointer;">
            {{showPassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </div>
        <button class="btn btn-primary btn-block text-dark" style="margin-top: 20px;" (click)="checkButton()">Login</button>
      </form> 
    </div>
  </div>
</div>


