<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="mt-5 row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-3">
          <p class="daily-data text-white">Daily Data</p>
        </div>
      
        <div class="col-md-3 text-end">
         
      </div>

        
      </div>

      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="card p-3">
            <div *ngIf="loadingForPieAttendence">Loading...</div>
              <canvas *ngIf="!loadingForPieAttendence && checkPieAttendenceData" baseChart
              class="pie-chart"
              baseChart
              [type]="'pie'"
              [labels]="pieChartLabels"
              [datasets]="pieChartDatasets"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
              style="margin: 0 auto"
            >
            </canvas>
            <div class="text-center mt-3">
              <p><b>Student attendance across different meal categories</b></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-3">
          <div class="card p-3">
            <div *ngIf="loadingForPieWastage">Loading...</div>
            <canvas *ngIf="!loadingForPieWastage && doughnutChartData"
              class="doughnut-chart"
              baseChart
              [type]="'doughnut'"
              [data]="doughnutChartData"
              [options]="doughnutChartOptions"
              [legend]="true"
              style="display: block; margin: 0 auto"
            >
            </canvas>
            <div class="text-center mt-3">
              <p><b>Food Wastage across different meal categories</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
  <div class="mt-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <canvas
          class="bar-chart"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'"
          style="display: block; margin: 0 auto"
        >
        </canvas>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Student attendance across different meal categories (Last 7
              days)</b
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <!-- <div *ngIf="checkData" class="text-white">
    <h2>Weekly Data</h2>
    <pre>{{ checkData| json }}</pre>
  </div> -->

  <div class="mt-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <canvas
          baseChart
          class="line-chart"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          style="display: block; margin: 0 auto"
        >
        </canvas>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Food Wastage across different meal categories (Weekly)</b
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="mt-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <canvas
          class="bar-chart"
          baseChart
          [data]="secondBarChartData"
          [options]="secondBarChartOptions"
          [type]="'bar'"
          style="display: block; margin: 0 auto"
        ></canvas>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Mean Student attendance across different meal categories
              (Monthly)
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="my-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <canvas
          class="bar-chart"
          baseChart
          class="line-chart"
          [type]="'line'"
          [data]="secondLineChartData"
          [options]="secondLineChartOptions"
          [legend]="secondlineChartLegend"
          style="display: block; margin: 0 auto"
        >
        </canvas>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Mean Food Wastage across different meal categories (Monthly)
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="my-5"></div>
</div>
