mat-grid-tile {
  background: lightblue;
}

/* For Pie Chart */
.pie-chart {
  width: 90% !important;
  height: 90% !important;
}

/* Doughnut Chartt */
.doughnut-chart {
  width: 90% !important;
  height: 90% !important;
}

/* For Bar Chart */
.line-chart {
  width: 100% !important;
  max-width: 800px;
  height: auto;
}
.bar-chart {
  width: 100% !important;
  max-width: 800px;
  height: auto;
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .card {
    padding: 1.5rem;
  }

  .text-center p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  /* Adjustments for extra small screens */
  .text-center p {
    font-size: 0.8rem;
  }

  .card {
    padding: 1rem;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.container-fluid {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.daily-data {
  font-weight: 500;
  font-size: 1.5rem;
}
