<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="mt-5 row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8 d-flex flex-column justify-content-end" style="height: 100px;">
            <p class="daily-data text-white mb-4">
                Date-wise Data: 
                <span *ngIf="displayDate; else showYesterdayDate">{{ displayDate | date: 'EEE MMM d yyyy' }}</span>
                <ng-template #showYesterdayDate>{{ displayYesterdayDate | date: 'EEE MMM d yyyy' }}</ng-template>
            </p>
        </div>
    
        <div class="col-md-2 text-end">
            <!-- Date Picker -->
            <div class="mb-3">
                <label for="date" class="col-form-label">Select Date:</label>
                <input type="date" class="form-control" id="date" [(ngModel)]="dateSelected" (ngModelChange)="onDateChange()">
            </div>
        </div>
        <div class="col-md-2 d-flex flex-column justify-content-end mb-4">
            <button (click)="fetchSelectedDate()" class="btn btn-primary ">Check</button>
        </div>
    </div>
    

      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="card p-3">
            <div *ngIf="loadingForPieAttendence">Loading...</div>
              <canvas *ngIf="!loadingForPieAttendence && pieChartData" 
              baseChart
              class="pie-chart"
              [type]="'pie'"
              [data] = "pieChartData"   
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
              style="margin: 0 auto"
            >
            </canvas>
            <div *ngIf="!loadingForPieAttendence && !pieChartData" class="text-center">
              <p><b>No Data Available for the Selected Date</b></p>
            </div>
            <div class="text-center mt-3">
              <p><b>Student attendance across different meal categories</b></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-3">
          <div class="card p-3">
            <div *ngIf="loadingForPieWastage">Loading...</div>
            <canvas *ngIf="!loadingForPieWastage && doughnutChartData"
              class="doughnut-chart"
              baseChart
              [type]="'doughnut'"
              [data]="doughnutChartData"
              [options]="doughnutChartOptions"
              [legend]="true"
              style="display: block; margin: 0 auto"
            >
            </canvas>
            <div *ngIf="!loadingForPieWastage && !doughnutChartData" class="text-center">
              <p><b>No Data Available for the Selected Date</b></p>
            </div>
            <div class="text-center mt-3">
              <p><b>Food Wastage across different meal categories</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
  <div class="mt-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <canvas
          class="bar-chart"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'"
          style="display: block; margin: 0 auto"
        >
        </canvas>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Student attendance across different meal categories (Last 7
              days)</b
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <!-- <div *ngIf="checkData" class="text-white">
    <h2>Weekly Data</h2>
    <pre>{{ checkData| json }}</pre>
  </div> -->

  <div class="mt-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <div *ngIf="loadingForLineWastage">Loading...</div>
        <canvas *ngIf="!loadingForLineWastage && lineChartData"
          baseChart
          class="line-chart"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          style="display: block; margin: 0 auto"
        >
        </canvas>
        <div *ngIf="!loadingForLineWastage && !lineChartData" class="text-center">
          <p><b>No Data Available</b></p>
        </div>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Food Wastage across different meal categories (Last 7
              days)</b
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="mt-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <div *ngIf="loadingForBarMonthlyAttendence">Loading...</div>
        <canvas *ngIf="!loadingForBarMonthlyAttendence && secondBarChartData"
        baseChart
          class="bar-chart"
          [type]="'bar'"
          [data]="secondBarChartData"
          [options]="secondBarChartOptions"
          style="display: block; margin: 0 auto"
        ></canvas>
        <div *ngIf="!loadingForBarMonthlyAttendence && !secondBarChartData" class="text-center">
          <p><b>No Data Available</b></p>
        </div>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Mean Student attendance across different meal categories
              (Monthly)
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="my-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <div *ngIf="loadingForLineWastageMonthly">Loading...</div>
        <canvas *ngIf="!loadingForLineWastageMonthly && secondLineChartData"
          class="bar-chart"
          baseChart
          class="line-chart"
          [type]="'line'"
          [data]="secondLineChartData"
          [options]="secondLineChartOptions"
          [legend]="secondlineChartLegend"
          style="display: block; margin: 0 auto"
        >
        </canvas>
        <div *ngIf="!loadingForLineWastageMonthly && !secondLineChartData" class="text-center">
          <p><b>No Data Available</b></p>
        </div>
        <div class="text-center mt-3">
          <p>
            <b style="color: black"
              >Mean Food Wastage across different meal categories (Monthly)
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="my-5"></div>
</div>
