<app-navbar></app-navbar>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="contain-fluid bg-dark">
  
  <div class="row m-0 p-4">
    <div [ngClass]="{'border-end': !isMobileView}" class="col-md-6 border-end">
      <!-- scanner -->
      <zxing-scanner
        (scanSuccess)="onScanSuccess($event)"
        [autofocusEnabled]="true"
        [enable]="isScanningEnabled"
        (camerasFound)="onCamerasFound($event)"
        (camerasNotFound)="onCameraError($event)"
        (permissionResponse)="hasPermission = $event"
        [device]="selectedDevice"
        [delayBetweenScanSuccess]="1000"
        class="p-2"
      >
      </zxing-scanner>
      <h4 *ngIf="!isScanningEnabled" class="text-center text-white">
        Camera is Off
      </h4>

      <div class="row my-2 justify-content-around" >
          <button
            class="col-md-5 p-2 btn btn-outline-light mt-3"
            style="font-weight: 500;"
            [innerText]="
              isScanningEnabled ? 'Turn Off Scanner' : 'Turn On Scanner'
            "
            (click)="toggleScanning()"
          ></button>
          <button
            class="col-md-5 p-2 btn btn-outline-light mt-3"
            style="font-weight: 500;"
            (click)="resetScanner()"
          >
            Reset Scanner
          </button>
        
      </div>

      <div class="row mt-4">
        <div class="col">
          <p class="text-white fs-4">Select Camera</p>
          <mat-form-field class="w-100">
            <!-- <mat-label>Select Camera</mat-label> -->
            <mat-select
              [(value)]="selectedDevice"
              (selectionChange)="onDeviceChange($event.value)"
            >
              <mat-option
                *ngFor="let device of availableDevices; let i = index"
                [value]="device"
              >
                {{ device.label || "Camera " + (i + 1) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- <div *ngIf="scannedResult" class="text-white">
                <p>Scanned Result: {{ scannedResult }}</p>
            </div> -->
    </div>

    <div [ngClass]="{'border-start': !isMobileView}" class="col-md-6">
        <div class="row m-0 p-3 text-white d-flex justify-content-center" >
            <div class="col-md-6">
                    <h3 class="p-3 text-center">
                        Current Meal:
                    </h3>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-select [(value)]="currentFoodCategory">
                            <mat-option *ngFor="let category of foodCategories" [value]="category">
                                {{category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
          </div>
      <div class="p-4 text-white">
        <div class="row p-1" *ngIf="_hasScanningStarted && !_scanningError">
          <div class="col-md-6">
            <div>
              <label for="stud-name">NAME</label>
              <h2 id="stud-name">{{ studentData.name }}</h2> <br>
    
              <label for="roll_no">ROLL NUMBER</label>
              <h3 id="roll_no">{{ studentData.roll_no }}</h3> <br>
    
              <label for="hostel_no">HOSTEL</label>
              <h3 id="hostel_no">{{ studentData.hostel }}</h3>
            </div>
          </div>
          <div class="col-md-6">
            <img src="./assets/user.png" alt="user image">
          </div>
        </div>
        <div *ngIf="userValidityError" class="alert alert-danger m-2">
          <h4
            *ngIf="isUserValid == false && studentData.hostel != ''"
            class="text"
          >
            NOT ALLOWED
          </h4>
          <div>
            {{userValidityError}}
          </div>
        </div>
        <h2 *ngIf="_scanningError">Invalid QR Code</h2>
      </div>
    </div>
  </div>
</div>



<!-- input form modal -->
<div class="modal fade" #exampleModal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  (shown.bs.modal)="onModalOpen()"
  (hidden.bs.modal)="onModalHide()"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Menu and Wastage</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
          <!-- Date Picker -->
          <div class="mb-3">
            <label for="date" class="col-form-label">Select Date:</label>
            <input type="date" class="form-control" id="date" formControlName="date">
          </div>

          <!-- Dropdown -->
          <div class="mb-3">
            <label for="food_category" class="col-form-label">Current Meal:</label>
            <select class="form-select" id="food_category" formControlName="food_category">
              <option *ngFor="let category of foodCategories" [value]="category">{{category}}</option>
              <!-- <option value="1">breakfast</option>
              <option value="2">lunch</option>
              <option value="3">snacks</option> -->
            </select>
          </div>

          <!-- Textarea -->
          <div class="mb-3">
            <label for="menu" class="col-form-label">Food Menu:</label>
            <textarea [disabled]="true" class="form-control" id="menu" formControlName="menu"></textarea>
          </div>

          <!-- Text Input -->
          <div class="mb-3" *ngIf="this.menuService.isAddingMenu == false">
            <label for="food_wastage" class="col-form-label">Food Wastage (in kgs):</label>
            <input type="number" step="0.01" class="form-control" id="food_wastage" formControlName="food_wastage">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button id="ModalClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button [disabled]="form.invalid" type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
