.fade-card {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-in-out;
}

.fade-card.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-card.hide {
  opacity: 0;
  transform: translateY(-20px);
}
