<app-navbar></app-navbar>
<div class="contain-fluid bg-dark">
  
  <div class="row m-0 p-4">
    <div class="col-md-6 border-end">
      <!-- scanner -->
      <zxing-scanner
        (scanSuccess)="onScanSuccess($event)"
        [autofocusEnabled]="true"
        [enable]="isScanningEnabled"
        (camerasFound)="onCamerasFound($event)"
        (camerasNotFound)="onCameraError($event)"
        (permissionResponse)="hasPermission = $event"
        [device]="selectedDevice"
        [delayBetweenScanSuccess]="1000"
        class="p-2"
      >
      </zxing-scanner>
      <h4 *ngIf="!isScanningEnabled" class="text-center text-white">
        Camera is Off
      </h4>

      <div class="row my-2 justify-content-around" >
          <button
            class="col-md-5 p-2 btn btn-outline-light"
            style="font-weight: 800;"
            [innerText]="
              isScanningEnabled ? 'Turn Off Scanner' : 'Turn On Scanner'
            "
            (click)="toggleScanning()"
          ></button>
          <button
            class="col-md-5 p-2 btn btn-outline-light"
            style="font-weight: 800;"
            (click)="resetScanner()"
          >
            Reset Scanner
          </button>
        
      </div>

      <div class="row">
        <div class="col">
          <p class="text-white">Select Camera</p>
          <mat-form-field class="w-100">
            <!-- <mat-label>Select Camera</mat-label> -->
            <mat-select
              [(value)]="selectedDevice"
              (selectionChange)="onDeviceChange($event.value)"
            >
              <mat-option
                *ngFor="let device of availableDevices; let i = index"
                [value]="device"
              >
                {{ device.label || "Camera " + (i + 1) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- <div *ngIf="scannedResult" class="text-white">
                <p>Scanned Result: {{ scannedResult }}</p>
            </div> -->
    </div>

    <div class="col-md-6 border-start">
        <div class="row m-0 p-3 text-white d-flex justify-content-center" >
            <div class="col-md-6">
                    <h3 class="p-3 text-center">
                        Current Meal:
                    </h3>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-select [(value)]="currentFoodCategory">
                            <mat-option *ngFor="let category of foodCategories" [value]="category">
                                {{category}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
          </div>
      <div class="p-4 text-white">
        <div *ngIf="!_scanningError && isUserValid">
          <h2>{{ studentData.name }}</h2>
          <h3>{{ studentData.roll_no }}</h3>
          <h3>H-{{ studentData.hostel }}</h3>
        </div>
        <h1
          *ngIf="isUserValid == false && studentData.hostel != ''"
          class="text-danger"
        >
          NOT ALLOWED
        </h1>
        <h2 *ngIf="_scanningError">Invalid QR Code</h2>
      </div>
    </div>
  </div>
</div>

