.logo {
  font-weight: bold;
  font-size: 3rem; 
  color: #11001f; 
 
}

.nav-item .nav-link {
  
  font-weight: 600;
  font-size: 1.25rem;
}

.navbar {
    padding-top: 5px; 
    padding-bottom: 10px; 
    height: fit-content ;
}
.snack-bar-success {
  background-color: #4CAF50; 
  color: white;
}

.snack-bar-error {
  background-color: #F44336; 
  color: white;
}