.hamburger {
  width: 28px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background: #333;
  border-radius: 2px;
  transition: 0.35s ease;
}

/* Open state */
.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (min-width: 1024px) {
  .hamburger {
    display: none !important;
  }
}

/* 
.logo {
  font-weight: bold;
  font-size: 3rem; 
  color: #11001f; 
 
}

.nav-item .nav-link {
  
  font-weight: 600;
  font-size: 1.25rem;
}

.navbar {
    padding-top: 5px; 
    padding-bottom: 10px; 
    height: fit-content ;
}
.snack-bar-success {
  background-color: #4CAF50; 
  color: white;
}

.snack-bar-error {
  background-color: #F44336; 
  color: white;
} */