<app-navbar-student></app-navbar-student>

<div class="min-h-screen bg-white">

  <div class="max-w-5xl mx-auto w-full p-6 space-y-8">

    <!-- USER CARD -->
    <div class="rounded-2xl p-6 bg-gradient-to-r from-black to-gray-700 text-white shadow-md flex flex-col gap-4">

      <div class="flex justify-between items-start">

        <!-- User Info -->
        <div class="flex gap-3 items-start">

          <div class="w-12 h-12 rounded-full bg-white backdrop-blur flex items-center justify-center">
            <span class="material-icons text-black text-3xl">person</span>
          </div>

          <div>
            <p class="text-xl font-semibold leading-tight">{{studentData.name}}</p>
            <!-- <p class="text-sm opacity-90 -mt-1">{{studentData.roll_no}}</p> -->

            <!-- <p class="text-sm mt-3 opacity-90">Roll Number</p> -->
            <p class="text-sm font-medium">{{studentData.roll_no}}</p>
          </div>

        </div>

        <!-- Board Label -->
        <span class="text-xs bg-white text-black px-3 py-1 rounded-md backdrop-blur-md shadow">
          {{studentData.hostel}}
        </span>
      </div>

    </div>

    <!-- MESS PASS SECTION -->
    <div class="bg-white shadow rounded-xl border p-10 text-center">

      <h2 class="text-lg font-medium text-gray-900">Your Mess Pass</h2>
      <p class="text-sm text-gray-500 mt-1">Show this QR code at the mess entrance</p>

      <!-- QR CODE BOX -->
      <div class="flex justify-center mt-10">
        <div class="p-4 border-2 border-black rounded-2xl">

          <qrcode [qrdata]="studentJsonString" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>

        </div>
      </div>

      <!-- ID Badge -->
      <div class="mt-5">
        <span class="text-base bg-black text-white px-3 py-1 rounded-full shadow">
          ID: {{studentData.roll_no}}
        </span>
      </div>

    </div>





  </div>
</div>