<app-navbar-student></app-navbar-student>
<div class="container-fluid p-0">
  <!-- Upper Half -->
  <div class="row upper-half">
    <div class="col-12 col-md-8 col-lg-6 d-flex flex-column align-items-center">
      <h1 class="display-4">Request Rebate</h1>

      <div class="alert alert-primary w-100" role="alert">
        Rebates can be requested for durations between 3 and 15 days, Rebate has to be requested 2 days prior to start date.
      </div>

      <div class="card p-4 mt-3 custom-card-size">
        <mat-form-field appearance="fill" class="w-100 date-field">
          <mat-label>Choose Start and End Date</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
              required
              (dateChange)="onStartDateChange($event)"
            />
            <input
              matEndDate
              formControlName="end"
              placeholder="End date"
              required
              (dateChange)="onEndDateChange($event)"
            />
          </mat-date-range-input>

          <!-- <mat-hint *ngIf="range.value.start && range.value.end">
            Start: {{ range.value.start | date: 'MM/dd/yyyy' }} – End: {{ range.value.end | date: 'MM/dd/yyyy' }}
          </mat-hint> -->
          <mat-hint *ngIf="!range.value.start || !range.value.end">
            Start: MM/DD/YYYY – End: MM/DD/YYYY
          </mat-hint>
          <!-- <mat-hint *ngIf="isStartDateInvalid" class="text-danger">
            Start date should be at least 2 days after today.
          </mat-hint> -->

          <mat-hint *ngIf="range.value.start && range.value.end">
            Duration: {{ duration }} days
          </mat-hint>
          <mat-hint *ngIf="duration < 3 || duration > 15 || isStartDateInvalid" class="text-danger">
            Invalid Duration or Start Date
          </mat-hint>
          <mat-hint *ngIf="duration >= 3 && duration <= 15 && !isStartDateInvalid" class="text-success">
            Valid Duration
          </mat-hint>

          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker touchUi #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mt-4 w-100 reason-field">
          <mat-label>Rebate Reason</mat-label>
          <input
            matInput
            placeholder="Enter reason for rebate"
            formControlName="reason"
          />
        </mat-form-field>

        <button
        mat-flat-button
          
          (click)="submitRebate()"
          class="mt-3"
        >
          Submit
        </button>
      </div>
    </div>
  </div>


   <!-- Bottom Half -->
   <div class="row bottom-half">
    <div class="col-12 col-md-10 col-lg-8 bg-dark mx-auto">
      <h2 class="text-center mb-4 text-center">Rebate Status</h2>
      <table class="table table-bordered table-hover table-striped text-white">
        <thead class="table-heading" style="font-weight: 500">
          <tr>
            
            <th>Rebate Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Days</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rebateData of studentRebateDataHistory; let i=index">
            <td>{{ rebateData.id }}</td>
            <td>{{ rebateData.start_date }}</td>
            <td>{{ rebateData.end_date }}</td>
            <td>{{ rebateData.duration }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="{
                  'bg-success': rebateData.status === 'active',
                  'bg-info': rebateData.status === 'inactive',
                  'bg-warning text-dark': rebateData.status === 'pending',
                  'bg-danger': rebateData.status === 'expired' || rebateData.status === 'rejected'
                }"
              >
                <div style="font-size: medium; padding-top: 3px;">{{ rebateData.status }}</div>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
